nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand.text-danger(href='/') Kellogs Smart Rack
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class=active_nav=='store'?'active':'',role='presentation')
              a(href='/') Stores
            li(class=active_nav=='shelves'?'active':'',role='presentation')
              a(href='/shelves/'+racknum) Shelf Stock
            li(class=active_nav=='traffic'?'active':'',role='presentation')
              a(href='/traffic/'+racknum) Traffic
            li(class=active_nav=='timelapse'?'active':'',role='presentation')
              a(href='/timelapse/'+racknum) Timelapse
            li(class=active_nav=='restock'?'active':'',role='presentation')
              a(href='/shelves/restock/'+racknum) Restock
            li(class=active_nav=='location'?'active':'',role='presentation')
              a(href='/location/'+racknum) Location