doctype html
html
  head
    meta(charset='utf-8')
    title #{rack_type} Smart Shelf - Out of Stock Alerts from Kellogs
  body(style='width: 100%;')
    br
    span Team
    br
    span See OOS notifications generated from the Smart Shelf in your store. 
    br
    br
    table(style='border: dashed #bbbbbb 1.0pt;')
        tbody
          tr
            td(colspan='3', style='border: dashed #bbbbbb 1.0pt;')
              h3(style='background-color: #fe2634; color: #fff9fa; padding: 10px;margin: 0;') #{rack_type} Smart Shelf – Out of Stock Alerts from Kelloggs
          tr
            td(colspan='3', style='border: dashed #bbbbbb 1.0pt;')
              h4(style='background-color: #fbe4d5; color: #fe2634; padding: 10px;margin: 0;') Store: #{rackname} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; As of: #{end} #{timezone}
          each shelf,i in shelves
            tr
              td(colspan='3', style='border: dashed #bbbbbb 1.0pt;')
                h4(style='background-color: #f0f3f3; color: #404b69; padding: 10px;margin: 0;') #{shelf_type} Shelf #{parseInt(shelf.shelf_num)+1} #{shelf.product}
            tr
              td(style='background-color: #ffffff; color: #2d4059; font-weight: 600; padding: 10px; border: dashed #bbbbbb 1.0pt;')
                ul
                  li #{shelf.percent}% Shelf Empty
                  li Shelf Inventory #{shelf.invStat}
              td(style='background-color: #ffffff; color: #2d4059; font-weight: 600; padding: 10px;')
                div(style='max-width: 350px; max-height:220')
                  img(src=shelf.url, alt='Image', width='299', height='171')
    br
    br
    span(style='color:#1f497d') Thanks
    br
    span(style='color:#1f497d') Kelloggs Smart Shelf Team
    br
    br